$sky:            #1c3c75;
$skyBright:      #396ec5;
$alleyDark:      #1a2438;
$alleyMed:       #1a2c49;
$star:           #b1bca8;
$lightBright:    #ecd33b;
$lightDim:       #d8921d;
$dressRed:       #8c4038;
$dressRedShade:  #542a26;
$barmanJacket:   #d7e7c2;
$customerBright: #303a27;
